<form method="post" action="{{ path('app_main_destockage_delete', {'id': destockage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ destockage.id) }}">
    <button class="btn">Delete</button>
</form>
